{% extends 'base.html' %} 
{% load static %} 

{% block title %} 
home
{% endblock %} 

{% block styles %} 
{% endblock %} 

{% block body %}
<div class="container text-center">
  <h1>Hello, {{ user.username }}!</h1>
  <h3>It's time to study!</h3>

  <a href="/logout"><button class="btn btn-primary">Logout</button></a>

</div>

<div>
  <h3>Your study sets: </h3>
  <div>
    <a href="/newset"><button class="btn btn-primary">New Study Set</button></a>
  </div>
  {% for set in sets %}

  <div class = "row g-3">
    <div class="col-md-4">
      <h5>Title</h5>
      <p>{{ set.title }}</p>
    </div>
    <div class="col-md-4">
      <h5>Course</h5>
      <p>{{ set.course }}</p>
    </div>
    <div class="col-12">
      <h5>Description</h5>
      <p>{{ set.description }}</p>
    </div>
    <a href= {{ set.get_absolute_url }}><button class="btn btn-primary">Edit Study Set</button></a>  
  </div>

  {% endfor %}
</div>

{% endblock %}
