{% extends 'base.html' %} 
{% load static %} 

{% block title %} 
home
{% endblock %} 

{% block styles %} 
{% endblock %} 

{% block body %}
<div class="container text-center">
  <h1>Hello, {{ user.username }}!</h1>
  <h3>It's time to study!</h3>

  <a href="/logout"><button class="btn btn-primary">Logout</button></a>

</div>

<div>
  <h3>Your study sets: </h3>
  <div>
    <a href="/newset"><button class="btn btn-primary">Create Set</button></a>
  </div>
  {% for set in sets %}


  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ set.title }}</h5>
      <h6>{{ set.course }}</h6>
      <p class="card-text">{{ set.description }}</p>
      <a href= ""><button class="btn btn-primary">View</button></a>    
      <a href= {{ set.get_absolute_url }}><button class="btn btn-primary">Edit</button></a>
      <a href= ""><button class="btn btn-primary">Delete</button></a>    
    </div>
  </div>


  {% endfor %}
</div>

{% endblock %}
